@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");

.container {
    background-image: linear-gradient(to right, rgb(160, 201, 226), rgb(207, 233, 248) 70%);
    max-width: 900px;
    max-height: 700px;
    border: 1px solid lightblue;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 10px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.heading {
    text-align: center;
    font-family: Rowdies, sans-serif;
    font-size: 1.5em;
}

.description {
    margin: 0 5%;
    padding: 0 2%;
    font-family: Rowdies, sans-serif;
}

.text {
    margin: -2% 2%;
    font-family: "Nerko One", sans-serif;
    font-size: larger;
}
.text span {
    font-family: Rowdies, sans-serif;
    font-size: 1em;
}

.title {
    margin: -2% 2%;
    font-family: "Nerko One", sans-serif;
    font-size: larger;
}
.title span {
    font-family: Rowdies, sans-serif;
}